

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/landing.css">

<div id="landing-header">
    <h1>Welcome to YelpCamp!</h1>

    <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<%- include ('partials/footer'); -%>